<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="PlcMode" value="Simulation" />
  <add key="PlcIp" value="192.168.3.2" />
  <add key="PlcRack" value="0" />
  <add key="PlcSlot" value="1" />
  <add key="PollIntervalMs" value="250" />
  <add key="CommandPulseMs" value="300" />
  <add key="OrientedMaxLossRate" value="3.0" />
  <add key="NonOrientedMaxLossRate" value="3.0" />
  <add key="VisionDifferenceThreshold" value="28" />
  <add key="VisionMinimumParticleArea" value="20" />
  <add key="VisionOutputDirectory" value="images" />
</appSettings>
