<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="PlcMode" value="Simulation" />
  <add key="PlcIp" value="192.168.3.2" />
  <add key="PlcPort" value="502" />
  <add key="PlcRack" value="0" />
  <add key="PlcSlot" value="1" />
  <add key="PollIntervalMs" value="250" />
  <add key="CommandPulseMs" value="300" />
  <add key="BarcodeScannerEnabled" value="true" />
  <add key="BarcodeInputTimeoutMs" value="3000" />
  <add key="BarcodeMinimumLength" value="4" />
  <add key="DuplicateBarcodeSeconds" value="30" />
  <add key="OrientedScannerIp" value="192.168.3.11" />
  <add key="OrientedScannerPort" value="9004" />
  <add key="NonOrientedScannerIp" value="192.168.3.12" />
  <add key="NonOrientedScannerPort" value="9004" />
  <add key="ScannerConnectTimeoutMs" value="3000" />
  <add key="ScannerReadTimeoutMs" value="5000" />
  <add key="ScannerTriggerCommand" value="" />
  <add key="ScannerStopCommand" value="" />
  <add key="ScannerTerminator" value="CR" />
  <add key="OrientedMaxLossRate" value="3.0" />
  <add key="NonOrientedMaxLossRate" value="3.0" />
  <add key="VisionDifferenceThreshold" value="28" />
  <add key="VisionMinimumParticleArea" value="20" />
  <add key="VisionOutputDirectory" value="images" />
</appSettings>
